*{ box-sizing: border-box;
  /*outline: rgba(100,0,0, .25) 1px solid;*/
}

img {
  display: block;
  width: 100%;
}

body {
  margin: 0;
  background: 0;

}

p {
  font-size: 14px;
}

.border-around {
  padding: 20px;
  background-color: #DEDEDE;
}

#app-container {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #FEFEFE;
  font-size: 12px;
  /*display: inline-block;*/
}

header {
  width: 100%;
  font-size: 0;
  background-color: #2C2C2C;
}


.logo {
  display: inline-block;
  width: 15%;

}

.label {
  display: inline-block;
  width: 53%;
}

.top-menu {
  background-color: #2C2C2C;
  padding: 12px;
  font-size: 12px;
  color: white;
  word-spacing: 15px;
}

.mini-menu p {
  margin-top: 20px;
  margin-left: 20px;
  padding: 5px;
  background-color: #FCF7E5;
  display: inline-block;
  font-size: medium;
  vertical-align: top;
}

p.highlight {
  background-color: #E8F1F9;
  padding: 5px;

}


.right-column,.leftcolumn {
  display: inline-block;
}
.right-column  {
  width: 35%;
  vertical-align: top;
  padding: 40px 0 0 50px;
  font-size: small;


}

.sect1 {
  border-bottom: 1px dashed #F4F4F4;
  padding: 10px 0;
}

.sect2 {
  padding: 10px 0;
}

.sect2 span {
  font-weight: bold;
}



.art, .sunday, .family {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}


.events, .programs, .zone {
  display: inline-block;
  width: 60%;
  font-size: 13px;
  vertical-align: top;
}


.events h6  {
  margin: 0;
}

.programs h6 {
  margin: 0;
}

.zone h6 {
  margin: 0;
}

.view {
  text-align: right;
  padding-bottom: 35px;
}

a {
  text-decoration: none;
}

.leftcolumn {
  display:inline-block;
  width: 64%;
  font-size: medium;
}

.articles {

  border-top: 1px solid #EEE;
}

.campus {
  padding-bottom: 20px;
  vertical-align: top;
  display: inline-block;
}



.mfah {
  display: inline-block;
  width: 49%;
  padding-left: 15px;
  float: right;
  vertical-align: top;

}

.mfah img {
  vertical-align: top;
  height: 200px;
  padding:  ;
  margin: 0;

}

.learn {
  padding-bottom: 5px;
  margin-top: 0;
}


.alfred {
  display: inline-block;
}

.glass h3 {
  text-align: left;
}

.glassell {
  display: inline-block;
  width: 34%;
}

.school {
  vertical-align: top;
  text-align: left;
  height:300px;
  padding-bottom: 30px;

}


.photo-info {
  font-size: 12px;
  display:inline-block;
  width: 65%;
  text-align: left;
  vertical-align: top;
  padding-bottom: 20px;
  padding-left: 10px;
}

.photo-info h4 {
  line-height: .25px;
}


.footer-main {
  border-top: 1px solid #DEDEDE;
}

.footer-main div {
  display:inline-block;
  width: 23%;
  padding-left: 10px;
  font-size: 7px;
  text-align: left;
  padding-top: 10px;

}

.footer-main span {
  color: #D27161;
  font-size: 5px;

}

.search-box {
  position: fixed;
  bottom: 50px;
  right: 50px;
  text-align: left;
  background-color: #3A539B;
  color: #FEFEFE;
  padding: 10px;

}

/*.search-box h5 {
  margin-top: 0;
}

.enter-box {
  background-color: #FEFEFE;
  color: #D5D4C8;

}*/



@media screen and (max-width: 768px){

  .header, .logo {
    padding: 10px;
  }

  .top-menu, .label, .search-box {
    display: none;
  }

  .leftcolumn, .mini-menu p {
    padding: 0 20px;
    width: 100%;
    margin: 0;

  }

  .mini-menu {
    vertical-align: middle;
    padding: 25px 35px 0 35px;

  }

  .mini-menu p {
    padding: 4px 6px;
    width: 85%;
  }

  .leftcolumn > .legacy {
    display: none;
  }
  .mfah, .glassell, .photo-info {
    width: 100%;

  }

  .photo-info {
    padding-bottom: 0px;
  }

  .mfah {
    padding: 0;
    height:auto;
  }

  .mfah img {
    padding-bottom: 0;
  }

  .campus {
    width: 100%
  }

  .right-column {
    width: 100%;
    padding: 0 20px;
  }

  .art, .sunday, .family {
  width: 25%;
  padding: 0 15px 15px;
  }

  .footer-main {
    border-top: 1px solid #F4F4F4;
  }


  .footer-main div {
    display: block;
    font-size: 10px;
    width: 75%;

  }

  .sect1 {
    border-bottom: 1px dashed #F4F4F4;
  }

  .border-around {
    padding:0 0 20px 0px;
  }
